/* General: */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #7ef;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
}
nav div.buttons {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: right;
}

button {
    color: #fff;
    background-color: #118bee;
    border-radius: 0.5em;
    border-width: 0;
    padding: 1em;
}

button:hover {
    background-color: #219bfe;
}

button:active {
    background-color: #017bde;
}

button:disabled {
    background-color: #777;
}

section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Piano: */
.piano {
    border: 1px solid #777;
    user-select: none;
    -webkit-user-select: none;
}

.key.white {
    width: 6vh;
    height: 20vh;
    background: #fff;
    float: left;
}

.key.white:not(:first-child) {
    border-left: 1px solid #777;
}

.key.black {
    width: 4vh;
    height: 10vh;
    background: #000;
    position: relative;
    left: 4vh;
}

.key.white.on {
    background: #aaa;
}

.key.black.on {
    background: #777;
}

.key span {
    position: absolute;
    display: block;
    width: 6vh;
    height: 20vh;
    line-height: 36vh;
    text-align: center;
    color: #888;
    pointer-events: none;
}
@media only screen and (max-width: 600px) {
    .extra {
        display: none;
    }
}

/* Editor: */
input[type="range"] {
    width: 20vw;
}
select {
    width: 20vw;
}